In [253]:
import pandas as pd
import numpy as np

In [254]:
df=pd.read_csv(r"C:\\Users\\Sindhuri P\Desktop\datasets\lending-club-data.csv")

C:\Users\Sindhuri P\Documents\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [255]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,is_inc_v,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,not_compliant,status,inactive_loans,bad_loans,emp_length_num,grade_num,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,20111201T000000,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,19850101T000000,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.07,5831.78,5000.00,861.07,0.00,0.00,0.00,20150101T000000,171.62,NaN,20150101T000000,0.0,NaN,1,0,Fully Paid,1,0,11,5,0.4,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,20111201T000000,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,19990401T000000,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.71,1008.71,456.46,435.17,0.00,117.08,1.11,20130401T000000,119.66,NaN,20130901T000000,0.0,NaN,1,0,Charged Off,1,1,1,4,0.8,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,20111201T000000,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,20011101T000000,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.65,3003.65,2400.00,603.65,0.00,0.00,0.00,20140601T000000,649.91,NaN,20150201T000000,0.0,NaN,1,0,Fully Paid,1,0,11,4,1.0,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,20111201T000000,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,19960201T000000,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.30,12226.30,10000.00,2209.33,16.97,0.00,0.00,20150101T000000,357.48,NaN,20150101T000000,0.0,NaN,1,0,Fully Paid,1,0,11,4,0.2,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,20111201T000000,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0.0,20041101T000000,3.0,NaN,NaN,9.0,0.0,7963,28.3,12.0,f,0.0,0.0,5631.38,5631.38,5000.00,631.38,0.00,0.00,0.00,20150101T000000,161.03,NaN,20150201T000000,0.0,NaN,1,0,Fully Paid,1,0,4,6,0.8,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1

In [256]:
df.iloc[0]

id                                                                       1077501
member_id                                                                1296599
loan_amnt                                                                   5000
funded_amnt                                                                 5000
funded_amnt_inv                                                             4975
term                                                                   36 months
int_rate                                                                   10.65
installment                                                               162.87
grade                                                                          B
sub_grade                                                                     B2
emp_title                                                                    NaN
emp_length                                                             10+ years
home_ownership                                                              RENT
annual_inc                                                                 24000
is_inc_v                                                                Verified
issue_d                                                          20111201T000000
loan_status                                                           Fully Paid
pymnt_plan                                                                     n
url                            https://www.lendingclub.com/browse/loanDetail....
desc                             Borrower added on 12/22/11 > I need to upgra...
purpose                                                              credit_card
title                                                                   Computer
zip_code                                                                   860xx
addr_state                                                                    AZ
dti                                                                        27.65
delinq_2yrs                                                                    0
earliest_cr_line                                                 19850101T000000
inq_last_6mths                                                                 1
mths_since_last_delinq                                                       NaN
mths_since_last_record                                                       NaN
                                                     ...
total_pymnt                                                              5861.07
total_pymnt_inv                                                          5831.78
total_rec_prncp                                                             5000
total_rec_int                                                             861.07
total_rec_late_fee                                                             0
recoveries                                                                     0
collection_recovery_fee                                                        0
last_pymnt_d                                                     20150101T000000
last_pymnt_amnt                                                           171.62
next_pymnt_d                                                                 NaN
last_credit_pull_d                                               20150101T000000
collections_12_mths_ex_med                                                     0
mths_since_last_major_derog                                                  NaN
policy_code                                                                    1
not_compliant                                                                  0
status                                                                Fully Paid
inactive_loans                                                                 1
bad_loans                                                                      0
emp_length_num                                                                11
grade_num                                                                      5
sub_grade_num                                                                0.4
delinq_2yrs_zero                                                               1
pub_rec_zero                                                                   1
collections_12_mths_zero                                                       1
short_emp                                                                      0
payment_inc_ratio                                                         8.1435
final_d                                                          20141201T000000
last_delinq_none                                                               1
last_record_none                                                               1
last_major_derog_none                                                          1
Name: 0, dtype: object

In [257]:
df['safe_loans']=df["bad_loans"].apply(lambda x : +1 if x==0 else -1)

In [258]:
b=df['safe_loans'].value_counts()
b

 1    99457
-1    23150
Name: safe_loans, dtype: int64

In [259]:
a=df.groupby(['safe_loans'])['loan_amnt']

In [260]:
a.value_counts()

safe_loans  loan_amnt
-1          10000        1529
            12000        1036
            15000         934
            20000         914
            35000         766
            5000          750
            8000          724
            6000          606
            16000         595
            25000         578
            18000         512
            24000         386
            30000         371
            4000          362
            7000          347
            3000          340
            9000          281
            14000         270
            28000         208
            21000         201
            2000          187
            7200          187
            9600          175
            7500          169
            13000         151
            4800          136
            2500          130
            17000         127
            11000         125
            22000         121
                         ...
 1          31150           1
            31325           1
            31400           1
            31425           1
            31450           1
            31575           1
            31600           1
            31625           1
            31725           1
            31775           1
            31800           1
            31875           1
            31975           1
            32075           1
            32125           1
            32325           1
            32450           1
            32550           1
            32650           1
            32775           1
            32850           1
            32900           1
            33075           1
            33100           1
            33250           1
            33700           1
            34225           1
            34600           1
            34750           1
            34850           1
Name: loan_amnt, dtype: int64

In [261]:
b[1]

99457

In [262]:
b[-1]

23150

In [263]:
c=b[1]+b[-1]

In [264]:
c

122607

In [265]:
per1=(b[1]/c)*100

In [266]:
per1

81.118533199572624

In [267]:
per2=(b[-1]/c)*100

In [268]:
per2

18.881466800427383

In [269]:
def percentage():
    ty=sum(b)
    for i in b:
        qw=(i/ty)*100  
        print(qw)

In [270]:
percentage()

81.1185331996
18.8814668004

In [271]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
             'term',                   # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'

In [272]:
df = df[features + [target]]

In [273]:
df.describe()

,short_emp,emp_length_num,dti,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
count,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000,122607.000000
mean,0.123672,6.370256,15.496888,0.588115,0.873906,53.716307,0.742344,0.622371
std,0.329208,3.736014,7.497442,0.492177,0.331957,25.723881,5.363268,0.782726
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000
25%,0.000000,3.000000,9.880000,0.000000,1.000000,34.800000,0.000000,1.000000
50%,0.000000,6.000000,15.260000,1.000000,1.000000,55.700000,0.000000,1.000000
75%,0.000000,11.000000,20.850000,1.000000,1.000000,74.300000,0.000000,1.000000
max,1.000000,11.000000,39.880000,1.000000,1.000000,150.700000,208.820000,1.000000

In [274]:
train_idx=pd.read_json(r"C:\\Users\\Sindhuri P\Desktop\datasets\module-5-assignment-1-train-idx.json")

In [275]:
validation_idx=pd.read_json(r"C:\\Users\\Sindhuri P\Desktop\datasets\module-5-assignment-1-validation-idx.json")

In [276]:
train_data = df.iloc[train_idx]
validation_data = df.iloc[validation_idx]

validation_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,B,B2,0,11,RENT,27.65,credit_card,36 months,1,1,83.7,0.0,1

In [277]:
safe_loans_raw = df[df[target] == +1]
risky_loans_raw = df[df[target] == -1]
print ("Number of safe loans  : %s" % len(safe_loans_raw))
print( "Number of risky loans : %s" % len(risky_loans_raw))

Number of safe loans  : 99457
Number of risky loans : 23150

In [278]:
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))

risky_loans = risky_loans_raw
safe_loans = safe_loans_raw.sample(n=int(percentage))
loans_data = risky_loans.append(safe_loans)

In [279]:
loans_data.describe()

,short_emp,emp_length_num,dti,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
count,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.0
mean,0.136976,6.305659,17.169811,0.584579,0.875551,59.717187,2.187615,-1.0
std,0.343830,3.777010,7.657633,0.492805,0.330100,24.459263,9.036111,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.0
25%,0.000000,3.000000,11.522500,0.000000,1.000000,43.300000,0.000000,-1.0
50%,0.000000,6.000000,17.210000,1.000000,1.000000,62.700000,0.000000,-1.0
75%,0.000000,11.000000,22.700000,1.000000,1.000000,79.200000,0.000000,-1.0
max,1.000000,11.000000,36.270000,1.000000,1.000000,128.100000,194.370000,-1.0

risky_loans.describe()

In [280]:
risky_loans.describe()

,short_emp,emp_length_num,dti,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
count,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.0
mean,0.136976,6.305659,17.169811,0.584579,0.875551,59.717187,2.187615,-1.0
std,0.343830,3.777010,7.657633,0.492805,0.330100,24.459263,9.036111,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.0
25%,0.000000,3.000000,11.522500,0.000000,1.000000,43.300000,0.000000,-1.0
50%,0.000000,6.000000,17.210000,1.000000,1.000000,62.700000,0.000000,-1.0
75%,0.000000,11.000000,22.700000,1.000000,1.000000,79.200000,0.000000,-1.0
max,1.000000,11.000000,36.270000,1.000000,1.000000,128.100000,194.370000,-1.0

In [281]:
risky_loans_raw.describe()

,short_emp,emp_length_num,dti,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
count,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.000000,23150.0
mean,0.136976,6.305659,17.169811,0.584579,0.875551,59.717187,2.187615,-1.0
std,0.343830,3.777010,7.657633,0.492805,0.330100,24.459263,9.036111,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.0
25%,0.000000,3.000000,11.522500,0.000000,1.000000,43.300000,0.000000,-1.0
50%,0.000000,6.000000,17.210000,1.000000,1.000000,62.700000,0.000000,-1.0
75%,0.000000,11.000000,22.700000,1.000000,1.000000,79.200000,0.000000,-1.0
max,1.000000,11.000000,36.270000,1.000000,1.000000,128.100000,194.370000,-1.0

In [282]:
loans_data.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.0,-1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.0,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.0,-1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.0,-1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.0,-1

In [326]:
loans_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.000,-1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.000,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.000,-1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.000,-1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.000,-1
18,B,B4,0,11,RENT,13.22,debt_consolidation,36 months,1,1,90.3,0.000,-1
21,B,B3,0,2,RENT,2.40,major_purchase,36 months,1,1,29.7,0.000,-1
23,C,C2,0,10,RENT,15.22,debt_consolidation,36 months,1,1,57.6,0.000,-1
24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.5,0.000,-1
41,A,A5,0,11,MORTGAGE,16.33,debt_consolidation,36 months,1,1,62.1,0.000,-1
45,B,B1,0,9,MORTGAGE,9.12,debt_consolidation,36 months,1,1,63.7,24.170,-1
48,C,C5,0,5,RENT,20.88,car,36 months,1,1,90.8,0.000,-1
50,E,E4,0,8,RENT,21.58,debt_consolidation,60 months,1,1,97.6,0.000,-1
58,D,D3,0,6,RENT,13.16,debt_consolidation,60 months,1,1,70.8,0.000,-1
60,F,F2,0,5,RENT,12.48,small_business,60 months,1,1,73.9,0.000,-1
63,D,D2,0,6,RENT,20.22,debt_consolidation,36 months,0,1,67.5,0.000,-1
87,D,D3,0,8,MORTGAGE,21.31,credit_card,60 months,1,1,86.1,0.000,-1
89,B,B1,0,3,RENT,20.64,debt_consolidation,36 months,1,1,47.7,0.000,-1
93,D,D2,0,11,RENT,23.18,debt_consolidation,60 months,1,1,79.7,0.000,-1
102,D,D5,0,2,RENT,24.14,credit_card,36 months,0,1,96.3,36.247,-1
108,B,B2,0,5,RENT,22.80,debt_consolidation,36 months,0,1,54.2,0.000,-1
111,E,E4,0,11,RENT,20.70,debt_consolidation,60 months,1,1,87.6,0.000,-1
118,C,C5,0,9,MORTGAGE,9.17,home_improvement,36 months,1,1,71.2,0.000,-1
124,A,A2,0,11,RENT,29.85,credit_card,36 months,1,1,62.3,0.000,-1
132,B,B1,0,3,RENT,7.83,debt_consolidation,36 months,1,1,65.4,0.000,-1
136,B,B3,0,9,RENT,22.08,debt_consolidation,36 months,1,1,29.3,0.000,-1
138,C,C1,0,11,RENT,21.89,credit_card,60 months,1,1,65.8,0.000,-1
140,C,C3,0,2,MORTGAGE,12.24,debt_consolidation,36 months,0,1,90.8,0.000,-1
151,A,A3,1,0,OWN,16.30,debt_consolidation,36 months,1,1,42.2,0.000,-1
158,C,C1,0,6,RENT,6.92,small_business,36 months,0,1,69.5,0.000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
122470,D,D1,0,10,RENT,10.84,credit_card,60 months,1,1,54.2,0.000,-1
122471,C,C3,0,11,RENT,21.86,debt_consolidation,36 months,0,1,86.2,0.000,-1
122475,B,B2,0,11,MORTGAGE,6.16,debt_consolidation,36 months,0,0,82.7,0.000,-1
122483,C,C3,0,11,MORTGAGE,13.22,debt_consolidation,60 months,0,1,40.6,0.000,-1
122488,D,D4,0,8,MORTGAGE,13.73,debt_consolidation,60 months,1,1,44.0,0.000,-1
122492,F,F3,0,11,MORTGAGE,11.97,debt_consolidation,60 months,1,1,30.7,0.000,-1
122495,D,D1,0,10,RENT,14.90,debt_consolidation,36 months,1,1,81.4,0.000,-1
122509,B,B1,0,11,MORTGAGE,26.02,debt_consolidation,36 months,0,1,40.5,0.000,-1
122511,C,C1,1,0,MORTGAGE,28.06,credit_card,36 months,0,0,69.9,0.000,-1
122527,B,B4,0,11,OWN,5.88,home_improvement,36 months,1,1,6.0,0.000,-1
122534,E,E5,0,7,OWN,10.90,small_business,36 months,0,1,21.6,0.000,-1
122542,D,D1,0,11,RENT,6.83,debt_consolidation,60 months,1,1,64.6,0.000,-1
122543,C,C2,0,2,MORTGAGE,6.60,debt_consolidation,60 months,1,1,50.0,0.000,-1
122556,D,D4,0,6,MORTGAGE,22.73,debt_consolidation,60 months,1,1,64.5,0.000,-1
122557,D,D1,0,3,MORTGAGE,16.16,credit_card,60 months,1,1,63.1,0.000,-1
122563,C,C2,0,11,MORTGAGE,7.46,debt_consolidation,36 months,0,0,12.4,0.000,-1
122565,C,C1,0,2,RENT,23.76,credit_card,36 months,1,1,39.2,0.000,-1
122566,B,B3,1,0,RENT,11.37,debt_consolidation,36 months,1,1,40.0,0.000,-1
122570,A,A4,0,7,MORTGAGE,27.68,major_purchase,36 months,0,1,70.6,0.000,-1
122573,B,B2,0,11,MORTGAGE,18.37,debt_consolidation,36 months,1,1,55.3,0.000,-1
122580,B,B5,0,2,RENT,27.75,debt_consolidation,36 months,1,1,83.6,0.000,-1
122583,C,C4,1,1,RENT,18.09,debt_consolidation,36 months,0,1,0.0,0.000,-1
122587,C,C3,0,9,MORTGAGE,11.48,debt_consolidation,60 months,1,1,64.7,0.000,-1
122590,B,B5,1,1,OWN,19.62,small_business,36 months,1,1,68.5,0.000,-1
122594,C,C3,1,1,OWN,26.21,credit_card,36 months,1,1,28.4,0.000,-1
122596,D,D1,0,11,MORTGAGE,19.56,debt_consolidation,36 months,0,1,52.5,0.000,-1
122601,B,B5,0,5,MORTGAGE,18.69,debt_consolidation,36 months,0,1,29.5,0.000,-1
122602,E,E5,1,0,MORTGAGE,1.50,medical,60 months,0,0,14.6,0.000,-1
122604,D,D3,0,6,MORTGAGE,12.28,medical,60 months,0,0,10.7,0.000,-1
122605,D,D5,0,11,MORTGAGE,18.45,debt_consolidation,60 months,1,1,46.3,0.000,-1

In [283]:
from sklearn.preprocessing import LabelEncoder as le

In [284]:
col_to_encode=['grade','sub_grade','home_ownership','purpose','term']

In [286]:
kk = pd.get_dummies(loans_data, columns=["grade", "sub_grade","home_ownership","purpose","term"], prefix=["body", "drive","abd","dsf","rry"]).head()

In [287]:
train, test = train_test_split(kk, test_size = 0.2)

In [288]:
train1,validate=train_test_split(train, test_size = 0.2)

In [289]:
import sklearn
import sklearn.tree

In [296]:
kk.as_matrix(columns=None)

array([[  1.  ,   1.  ,   1.  ,   1.  ,   1.  ,   9.4 ,   0.  ,  -1.  ,
          0.  ,   0.  ,   1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   1.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   1.  ],
       [  0.  ,   5.  ,   5.55,   1.  ,   1.  ,  32.6 ,   0.  ,  -1.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,
          0.  ,   0.  ,   0.  ,   1.  ],
       [  1.  ,   1.  ,  18.08,   1.  ,   1.  ,  36.5 ,   0.  ,  -1.  ,
          0.  ,   1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   1.  ],
       [  1.  ,   1.  ,  10.08,   1.  ,   1.  ,  91.7 ,   0.  ,  -1.  ,
          0.  ,   0.  ,   1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,   0.  ,
          1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   1.  ,   0.  ],
       [  0.  ,   4.  ,   7.06,   1.  ,   1.  ,  55.5 ,   0.  ,  -1.  ,
          0.  ,   1.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,   0.  ,
          0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   0.  ,   1.  ,   0.  ,
          0.  ,   0.  ,   1.  ,   0.  ]])

In [318]:
 from sklearn.tree import DecisionTreeClassifier

In [319]:
decision_tree_model = DecisionTreeClassifier(max_depth=6)

In [320]:
small_model= DecisionTreeClassifier(max_depth=2)

In [330]:
validation_safe_loans = validation_data[validation_data[target] == 1]
validation_risky_loans = validation_data[validation_data[target] == -1]

sample_validation_data_risky = validation_risky_loans[0:2]
sample_validation_data_safe = validation_safe_loans[0:2]

sample_validation_data = sample_validation_data_safe.append(sample_validation_data_risky)
sample_validation_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,B,B2,0,11,RENT,27.65,credit_card,36 months,1,1,83.7,0.0,1

In [322]:
len(train1)

3

In [323]:
len(validate)

1

In [324]:
train1[0:1]

,short_emp,emp_length_num,dti,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans,body_A,body_B,body_C,body_D,body_E,body_F,body_G,drive_A1,drive_A2,drive_A3,drive_A4,drive_A5,drive_B1,drive_B2,drive_B3,drive_B4,drive_B5,drive_C1,drive_C2,drive_C3,drive_C4,drive_C5,drive_D1,drive_D2,drive_D3,drive_D4,drive_D5,drive_E1,drive_E2,drive_E3,drive_E4,drive_E5,drive_F1,drive_F2,drive_F3,drive_F4,drive_F5,drive_G1,drive_G2,drive_G3,drive_G4,drive_G5,abd_MORTGAGE,abd_OTHER,abd_OWN,abd_RENT,dsf_car,dsf_credit_card,dsf_debt_consolidation,dsf_home_improvement,dsf_house,dsf_major_purchase,dsf_medical,dsf_moving,dsf_other,dsf_small_business,dsf_vacation,dsf_wedding,rry_ 36 months,rry_ 60 months
12,0,4,7.06,1,1,55.5,0.0,-1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [325]:
decision_tree_model.fit(train1[0:1],validate)

ValueError: Unknown label type: 'continuous-multioutput'

In [314]:
decision_tree_model.predict(test)